<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Wikipedia</title>
      <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
    </h1></h1>

    </div>
      <div class="form_input">
      <form action="/" method="get">
        <label for="search_item" id="form_label">Enter search parameter </label><br>
        <input type="text" id="search_item"  placeholder="Search name please!" name="search_item"/><br><br>
        <div class ="input_button">
        <input type="submit" value = "FIND" id="submit_button"/>
       </div>
      </form> 
      </div>
    </div>
  <div class="output">
  	 <%= @content %>
    </div>
    
  </body>
</html>