body {
    /* */
    background-color: white;
    color: #FFFFFF;

    font-family: monospace;
    font-size: 1em;

}

.form_input{
  color:black;
  font-size:1em;
}

.output{
  color:black;
  font-size:1em;
}